.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Button {
  border: 1px solid black;
  padding: 10px;
  background: green;
  color: white;
  font: inherit;
  cursor: pointer;
}

.Button:hover {
  background: lightgreen;
  color: black;
}

.Button.Red {
  background: red;
}

.Button.Red:hover {
  background: salmon;
  color: black;
}